@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <title>Enviando Mensagem</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>

    <!-- Formulário-->
    <form id="Form">
        <div class="form-group">
            <label>Título</label>
            <input type="text" class="form-control" id="titulo">
        </div>
        <div class="form-group">
            <label>Mensagem</label>
            <input class="form-control" type="text" id="mensagem">
        </div>
        <input type="button" class="btn btn-primary" onclick="Enviar()" value="Enviar">
    </form>


    <!--Javascript-->

    <!--Importações Firebase e outros-->
    <script src="https://www.gstatic.com/firebasejs/7.15.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.15.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.15.0/firebase-messaging.js"></script>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script>

        // Configuração do Firebase
        const Configuracao = {
            apiKey: "AIzaSyCdkAS1LlHP9alON9L7h34x7sJPPNhvvZ4",
            authDomain: "teste-f60cd.firebaseapp.com",
            databaseURL: "https://teste-f60cd.firebaseio.com",
            projectId: "teste-f60cd",
            storageBucket: "teste-f60cd.appspot.com",
            messagingSenderId: "600499591270",
            appId: "1:600499591270:web:e677f069d945b3c375f5a7",
            measurementId: "G-WEBNJ7JNET"
        };

        firebase.initializeApp(Configuracao);

        function Enviar() {

            document.getElementById("Form").submit();

            EnviaMensagem(document.getElementById("titulo").value,
                document.getElementById("mensagem").value,
                'd3ciqDvuQ4iIxR7O-ieHj8:APA91bFsu3en2LiuWwyru5rYHcCfIDbuF4GBIVD0SUoWPaYpcDVuJhxJ9EngwwBY8qdrUihfJ9jt_Zpwj5uPfYzr9w79TmFnnUUvqPgSWEDLq66F2tJuoZG-E1ka6rv3ItZ7xb6x-NU8');
        }

        function EnviaMensagem(title, msg, token) {

            const mensagem = {
                Titulo: title,
                Texto: msg,
                Token: token
            };

            if (axios.post("http://127.0.0.1:3000/home", mensagem)
                .then(() => console.log("Executando o Post"))
                .catch((err) => console.log(err))) {

                alert('Enviado com sucesso!');

            } else {

                alert('Ocorreu um erro no envio da mensagem');

            }

        }

    </script>

</body>
</html>